<p-toolbar [style]="{'padding': '1rem 1rem 1rem 1.5rem' }">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <img src="../../../assets/logo1.png" style="width: 4.3rem; margin-right: 1rem"/>
            <p-button label="Files" text plain />
            <p-button label="Edit" text plain />
            <p-button label="View" text plain />
        </div>
    </ng-template>

    <ng-template #end>
        <p-button icon="pi pi-shopping-cart" label="Carrito" badge="5" />
    </ng-template>
</p-toolbar>