<p-dataview #dv [value]="items()" [layout]="layout">
    <!-- <ng-template #header>
        <div class="flex justify-end">
            <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                <ng-template #item let-item>
                    <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                </ng-template>
            </p-selectbutton>
        </div>
    </ng-template> -->
    <!-- <ng-template #list let-items>
        <div *ngFor="let item of items; let first = first">
            <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4" [ngClass]="{ 'border-t': !first }">
                <div class="md:w-40 relative">
                    <img class="block xl:block mx-auto rounded w-full" [src]="item.item_image_url"
                        [alt]="item.item_name" />
                    <p-tag [value]="getInventoryStatus(item)" [severity]="getSeverity(item) || undefined"
                        class="absolute" [style.left.px]="4" [style.top.px]="5" />
                </div>
                <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                    <div class="flex flex-row md:flex-col justify-between gap-2">
                        <div>
                            <span class="font-medium text-sm">Comida</span>
                            <div class="text-lg font-medium mt-2">{{ item.item_name }}</div>
                        </div>
                        <div class="p-1" style="border-radius: 30px">
                        </div>
                    </div>
                    <div class="flex flex-col md:items-end gap-8">
                        <span class="text-xl font-semibold">{{ item.item_price | currency: 'PEN' }}</span>
                        <div class="flex flex-row-reverse md:flex-row gap-2">
                            <button pButton icon="pi pi-heart" outlined></button>
                            <button pButton icon="pi pi-shopping-cart" label="Buy Now"
                            [disabled]="getInventoryStatus(item) === 'Agotado'"
                            class="flex-auto md:flex-initial whitespace-nowrap"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template> -->
    <ng-template #grid let-items>
        <div class="grid grid-cols-12 gap-4">
            <div *ngFor="let product of items" class="col-span-12 sm:col-span-3 md:col-span-3 xl:col-span-3 p-2">
                <div class="p-6 border rounded flex flex-col">
                    <div class="flex justify-center rounded p-4">
                        <div class="relative mx-auto">
                            <img class="rounded w-full" [src]="product.item_image_url" [alt]="product.item_name"
                                style="max-width: 300px" />
                            <p-tag [value]="getInventoryStatus(product)" [severity]="getSeverity(product) || undefined"
                                class="absolute" [style.left.px]="4" [style.top.px]="4" />
                        </div>
                    </div>
                    <div class="pt-6">
                        <div class="flex flex-row justify-between gap-2">
                            <div>
                                <span class="font-medium">{{"Alimentos"}}</span>
                                <div class="text-lg font-medium mt-1">{{ product.item_name }}</div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-6 mt-6">
                            <span class="text-2xl font-semibold">{{ product.item_price | currency: 'PEN' }}</span>
                            <div class="flex gap-2">
                                <button pButton icon="pi pi-shopping-cart" label="Agregaral carrito"
                                    [disabled]="getInventoryStatus(product) === 'Agotado'"
                                    class="flex-auto whitespace-nowrap"
                                    (click)="addItemToShoppingCar(product)"></button>
                                <button pButton icon="pi pi-heart" outlined></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>