@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ee4037;
  --primary-hover-color: #eb564e;
  --contrast-color: #ffffff;
  --light-backgrount-color: #ffffff;
}

body {
  background-color: var(--contrast-color) !important;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilo del App Bar */
.p-toolbar {
  --p-toolbar-background: var(--primary-color);
  --p-toolbar-border-color: var(--primary-color);
  --p-toolbar-border-radius: 0;
}

/* Estilo de los botones */
.p-button {
  background-color: var(--primary-color) !important;
  font-size: 1rem !important;
  border: none !important;
  color: var(--contrast-color) !important;
}

.p-button:hover {
  background-color: var(--primary-hover-color) !important;
}

/*Estilo del Dataview*/

.p-dataview-content {
  background-color: var(--light-backgrount-color) !important;
}

.p-dataview-header {
  background-color: var(--light-backgrount-color) !important;
}
